@import url(https://fonts.googleapis.com/css?family=Almendra:400,700,400italic,700italic);

body {
  background-color: $negro;
  font-size:16px;
  font-family:'Almendra',Arial;
  font-weight:400;
}
.imagenes-razas {
  border:5px solid $negro;
  padding: 20px;
  margin-top:20px;
  min-height:400px;
  background: $blanco;
}
.form-control, .form-control:focus {
  box-shadow: none;
  -webkit-appearance:none;
}

